<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Created by IntelliJ IDEA.
    User: Encounter
    Date: 2024/09/20
    Time: 18:39
    To change this template use File | Settings | File Templates.
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">
    <select id="list" parameterType="Setmeal" resultType="Setmeal">
        select *
        from setmeal
        <where>
            <if test="name != null">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <insert id="save">
        insert into setmeal(category_id, name, price, status,
        <if test="description != null and description != ''">
            description,
        </if>
        image, create_time, update_time, create_user, update_user)
        values (category_id = #{categoryId},
                name = #{name},
                price = #{price},
                status = #{status},
        <if test="description != null and description != ''">
            description = #{description},
        </if>
        image = #{image},
        create_time = #{createTime},
        update_time = #{updateTime},
        create_user = #{createUser},
        update_user = #{updateUser})
    </insert>
</mapper>