<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Created by IntelliJ IDEA.
    User: Encounter
    Date: 2024/09/20
    Time: 18:39
    To change this template use File | Settings | File Templates.
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">
    <select id="list" parameterType="Setmeal" resultType="Setmeal">
        select *
        from setmeal
        <where>
            <if test="name != null">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>
</mapper>